<div class="relative w-full rounded-lg border border-red-200 p-4 [&>svg]:text-gray-700 flex space-x-2 mb-6">
  <div class="text-red-700 relative top-0.5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
    </svg>
  </div>

  <div class="text-sm flex flex-col space-y-1">
    <h5 class="text-base font-medium text-red-700">Erros</h5>
    
    <div class="text-red-600">
      <%= yield %>
    </div>
  </div>
</div>
