<a href=<%= link %> class="focus-visible:ring-2 focus-visible:outline-none focus-visible:ring-offset-2 disabled:pointer-events-none rounded-sm">
  <span class="hover:underline text-purple-500 hover:text-purple-500/80 transition-colors">
    <%= yield %>
  </span>
</a>
