<nav aria-label="breadcrumb" class="flex mt-4">
  <div class="flex items-center space-x-1 text-sm">
    <div class="flex items-center font-medium text-gray-500">
      <%= yield %>
    </div>
  </div>
</nav>
