<div>
   <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-800">
     <div class="inline-block text-gray-700">Crie a primeira</div> 
     <div class="inline-block text-purple-600">lista de despesas</div>
   </h2>

   <form accept-charset="UTF-8" action="/expense" method="post">
     <div class="mx-auto sm:w-full max-w-xl">
       <button type="submit" class="mt-12 mx-auto flex items-center space-x-2 justify-center rounded-md border border-purple-700 fill-purple-700 text-purple-700 px-3 py-1.5 hover:bg-purple-700 hover:text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
          <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
         </svg>
     </div>
   </form>
</div>
