<div class="max-w-screen-2xl mx-auto flex flex-col items-center">
  <div class="bg-[url('pattern.svg')] absolute z-0 opacity-5 top-0 blur-sm w-full h-screen"></div>
  <div class="flex items-center flex-col space-y-6 mt-24 z-10">
    <h1 class="flex text-5xl font-bold text-purple-700">
      Bem vindo ao Finance
    </h1>
    <p class="text-lg text-gray-500 w-2/6 text-center">Seja para gerenciar despesas, acompanhar ganhos ou simplesmente ter um controle financeiro mais sólido, é a solução ideal para suas necessidades financeiras. A aplicação oferece uma maneira simples e eficaz de registrar e visualizar suas finanças mensais</p>
  </div>
  <div class="mt-8 flex space-x-4">
    <%= link_to "Começar", "/receipt", class: "shadow rounded-md text-white px-3 py-1.5 bg-purple-700 flex hover:bg-purple-800 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800", role: "button" %>
    <%= link_to "Registrar-se", "/receipt", class: "shadow rounded-md border border-purple-200 bg-white px-3 py-1.5 text-purple-700 flex hover:bg-purple-800 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800", role: "button" %>
  </div>
</div>
