<div class="max-w-screen-2xl mx-auto flex flex-col items-center">
  <div class="bg-[url('pattern.svg')] absolute -z-50 opacity-100 top-0 blur-sm w-full h-screen" style="mask-image: linear-gradient(to top, transparent 0%, black 60%, black 80%, transparent 95%)"></div>
  <div class="w-full h-56 absolute bottom-0 rounded-b-md"></div>
  <div class="flex items-center flex-col space-y-6 mt-36">
    <h1 class="flex text-6xl font-bold text-neutral-700 text-center">
      Suas finanças pessoais <br>
      no seu controle
    </h1>
    <p class="leading-8 text-lg text-gray-600 w-8/12 text-center">A solução para suas necessidades financeiras, oferecendo uma maneira simples de registrar e visualizar suas despesas e ganhos mensais.</p>
  </div>
  <div class="mt-14 flex space-x-4">
    <%= link_to "Começar", "/receipt", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-purple-600 text-gray-50 hover:bg-purple-600/90 px-4 py-2", role: "button" %>
    <% if !session[:current_user_id].present? %>
      <%= link_to "Registrar-se", "/user/new", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-purple-300 bg-white text-purple-600 hover:border-purple-600/90 px-4 py-2", role: "button" %>
    <% end %>
  </div>

  <%= render "/components/logo_cloud" %>
</div>
