<div class="max-w-screen-2xl mx-auto flex flex-col items-center">
  <div class="bg-[url('pattern.svg')] absolute -z-50 opacity-5 top-0 blur-sm w-full h-screen"></div>
  <div class="w-full h-28 blur-md opacity-50 absolute top-0 -z-40 bg-white rounded-b-md"></div>
  <div class="flex items-center flex-col space-y-6 mt-24">
    <h1 class="flex text-5xl font-bold text-purple-700">
      Bem vindo ao Finance
    </h1>
    <p class="text-lg text-gray-500 w-2/6 text-center">Seja para gerenciar despesas, acompanhar ganhos ou simplesmente ter um controle financeiro mais sólido, é a solução ideal para suas necessidades financeiras. A aplicação oferece uma maneira simples e eficaz de registrar e visualizar suas finanças mensais</p>
  </div>
  <div class="mt-8 flex space-x-4">
    <%= link_to "Começar", "/receipt", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-purple-600 text-gray-50 hover:bg-purple-600/90 px-4 py-2", role: "button" %>
    <% if !session[:current_user_id].present? %>
      <%= link_to "Registrar-se", "/user/new", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-purple-300 bg-white text-purple-600 hover:border-purple-600/90 px-4 py-2", role: "button" %>
    <% end %>
  </div>

  <div class="w-full py-12">
    <div class="mx-auto w-full px-4 md:px-8">
      <div class="group relative mt-6 flex gap-6 overflow-hidden p-2" style="mask-image: linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%)">
        <div class="flex shrink-0 animate-logo-cloud flex-row justify-around gap-20 w-full items-center">
          <img class="h-24 w-36 px-2 brightness-0" src="https://res.cloudinary.com/dfhp33ufc/image/upload/v1715276558/logos/ts1j4mkooxqmscgptafa.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/354252/rails.svg" />
          <img class="h-36 w-44 px-2 brightness-0" src="https://www.svgrepo.com/show/354430/tailwindcss.svg" />
          <img class="h-20 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353443/aws.svg" />
          <img class="h-32 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353661/docker.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353781/github.svg" />

          <img class="h-24 w-36 px-2 brightness-0" src="https://res.cloudinary.com/dfhp33ufc/image/upload/v1715276558/logos/ts1j4mkooxqmscgptafa.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/354252/rails.svg" />
          <img class="h-36 w-44 px-2 brightness-0" src="https://www.svgrepo.com/show/354430/tailwindcss.svg" />
          <img class="h-20 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353443/aws.svg" />
          <img class="h-32 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353661/docker.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353781/github.svg" />

          <img class="h-24 w-36 px-2 brightness-0" src="https://res.cloudinary.com/dfhp33ufc/image/upload/v1715276558/logos/ts1j4mkooxqmscgptafa.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/354252/rails.svg" />
          <img class="h-36 w-44 px-2 brightness-0" src="https://www.svgrepo.com/show/354430/tailwindcss.svg" />
          <img class="h-20 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353443/aws.svg" />
          <img class="h-32 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353661/docker.svg" />
          <img class="h-24 w-36 px-2 brightness-0" src="https://www.svgrepo.com/show/353781/github.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
