<div class="mx-auto max-w-screen-lg">
  <h2 class="mt-10 flex justify-center space-x-1 text-2xl font-bold leading-9 tracking-tight">
    <div class="text-gray-800">
      Despesa de
    </div>
    <div class="text-purple-700">
      <%= l(@receipt.created_at, format: "%B de %Y") %>
    </div>
  </h2>

  <div class="mt-20 space-y-6 rounded-sm border border-gray-100 px-3 py-2">
    <div>
      <h3 class="text-xl tracking-tight text-gray-800">
        <%= @receipt.name %>
      </h3>

      <small class="text-sm italic text-gray-600">Atualizado em <%= l(@receipt.created_at, format: "%d de %B de %Y") %></small>
    </div>

    <div>
      Items
    </div>
  </div>
<div>
