<h1 class="text-3xl w-full pl-2">Hello Create User</h1>

<form class="pl-2 pt-8">
  <input type="text" name="name" value="">
  <input type="email" name="email" value="">
  <input type="password" name="password" value="">
  <input type="submit" value="Login">
</form>
